---
import Base from '@/layouts/base.astro'
---
<Base>
  <div class="tabs">
		<div class="tab tab-bordered px-6">Learn</div>
		<div class="tab tab-bordered px-6 tab-active">Listen</div>
		<div class="tab tab-bordered px-6">Exercise</div>
	</div>
</Base>
