---
import Base from '@/layouts/base.astro'
---
<Base>
  <section class="grid grid-cols-3 gap-6">
    <div>
      <div class="flex flex-col items-center gap-y-2 rounded-lg border-2 border-cyan-900 p-1 py-2">
        <img src="https://api.iconify.design/hugeicons:dua.svg?color=%2363e0f0&flip=horizontal" class="size-12" />
        <span class="text-center text-xs font-semibold lowercase text-cyan-300">dua for wealth</span>
      </div>
    </div>
    <div>
      <div class="flex flex-col items-center gap-y-2 rounded-lg border-2 border-cyan-900 p-1 py-2">
        <img src="https://api.iconify.design/mdi:account-group-outline.svg?color=%2363e0f0&flip=horizontal" class="size-12" />
        <span class="text-center text-xs font-semibold lowercase text-cyan-300">monetized clubs</span>
      </div>
    </div>

    <div>
      <div class="flex flex-col items-center gap-y-2 rounded-lg border-2 border-cyan-900 p-1 py-2">
        <img src="https://api.iconify.design/streamline:business-idea-money.svg?color=%2363e0f0" class="r size-12" />
        <span class="text-center text-xs font-semibold lowercase text-cyan-300">trending ideas</span>
      </div>
    </div>
    <div>
      <div class="flex flex-col items-center gap-y-2 rounded-lg border-2 border-cyan-900 p-1 py-2">
        <img src="https://api.iconify.design/guidance:bank.svg?color=%2363e0f0" class="r size-12" />
        <span class="text-center text-xs font-semibold lowercase text-cyan-300">islamic banking</span>
      </div>
    </div>
    <div>
      <div class="flex flex-col items-center gap-y-2 rounded-lg border-2 border-cyan-900 p-1 py-2">
        <img src="https://api.iconify.design/arcticons:monopoly.svg?color=%2363e0f0" class="r size-12" />
        <span class="text-center text-xs font-semibold lowercase text-cyan-300">🎮 play monopoly</span>
      </div>
    </div>
  </section>
</Base>
